.header {
   background-image: url("../media/images/banner.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.top-nav {
    padding: 16px 50px;
}

.top-nav a {
    font-size: 36px;
    font-weight: 800;
    color: rgb(245, 10, 69);
}

.nav-links a {
    color: white;
    font-size: 24px;
    display: inline-block;
}

li {
    margin-left: 32px;
}

.ham {
    display: none;
}

#toggle {
    display: none;
}

.hero-section {
    color: white;
    padding: 180px 0;
    .hero-heading {
        font-size: 48px;
        font-weight: 800;
    }
}    

.btn {
    color: white;
    border: 2px solid white;
    padding: 12px 32px;
    font-size: 24px;
    background-color: transparent;
    margin: 50px 0;
}
