.first-section {
    background-color: rgb(3, 95, 40);
    color: rgb(219, 213, 213);
    padding-bottom: 60px;
}

.col1-3 {
    width: 30%;
    padding: 20px;
}

.fas {
    border-radius: 50%;
    padding: 30px;
    border: 1px solid white;
    font-size: 48px;
    margin: 50px 0;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

.text-below-heading {
    font-size: 28px;
    font-weight: 400;
}

.para-text {
    font-size: 20px;
    font-weight: 300;
}

.border {
    border-bottom: 4px double black;
    padding-bottom: 50px;
}

.img-col {
    width: 48%;
    margin-top: 100px;
}

.img-res {
    width: 100%;
    object-fit: cover;
}

.second-btn {
    color: black;
    border:  1px solid black;
}

.third-section {
    background-color: black;
    color: rgb(179, 171, 171);
}

.thirdsec-col {
    width: 33%;
}
.thirdsec-col a {
    text-decoration: underline;
    color: rgb(158, 152, 152);
    font-size: 20px;
}


.link-list {
    padding: 10px 0;
}

.third-section h2 {
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0;
}

.third-section p {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
}


.fab {
	border-radius: 50%;
	padding: 12px;
	border: 1px solid white;
    margin: 0 6px;
    font-size: 24px;
}

.contact-link {
    padding: 8px 0;
}

.thirdsec-col h3 {
    text-align: left;
    display: inline-block;
    font-size: 28px;
    
}
a:hover{
    color: white;
}

.contact {
    display: inline-block;
    margin-left: 16px;
}
