@media all and (max-width:786px){
   
        
    .nav-links {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        padding-top: 80px;
        background-color: seagreen;
        li {
            margin: 32px 0;
            a {
                color: red;
            }
        }    
    }
    
    .logo {
        z-index: 999;
    }

    .top-nav a{
        font-size: 24px;
    }

    .ham {
        font-size: 20px;
        color: red;
        display: inline-block;
        z-index: 999;
    }

    .toggle:checked ~ .nav-links {
        display: inline-block;
        background-color: black;
        height: 300px;
    }

    .row h2, .article-row h2, .img-col h2 {
        font-size: 28px;
        font-weight: 400;
    }
    .text-below-heading, .para-text{
        font-size: 18px;
        font-weight: 300;
        padding: 10px 20px;
    }
    .col1-3 , .thirdsec-col{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .img-col {
        width: 100%;
        margin-top: 100px;
        padding: 0 20px;
    }
    .img-res {
        font-size: 0;
        object-fit: cover;
        width: 100%;
    }
    .btn, .fab{
        font-size: 18px;
        padding: 08px 16px;
    }
    a:hover{
        color: white;
    }

    .fab {
        padding: 08px;
        border: 1px solid white;
        margin: 0 9px;
        font-size: 18px;
    }

    .thirdsec-col h3 {
        font-size: 24px;
    }

    footer {
        font-size: 18px;
    }
}